img {
    width: 100%;
    
}


.globalCard {
    background-color: red !important;
    color: blue;
    border-style: double;
    height: 100% !important;
}

/* .row {
    background-color: red !important;
    color: blue;
} */