.navForm {
    background-color: #041C32;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .5);
}

.containerTitleForm {
    text-decoration: none;
    margin-top: 8px;
    padding-left: 20px;
}

.titleForm {
    font-size: 30px;
    color: white;
}

.btnForm {
    margin-right: 20px;
    height: 30px;
    font-size: 20px;
    background-color: #041C32;
    color: white;
    border: white solid 1px;
}

.btnForm:hover {
    cursor: pointer;
    opacity: 80%;
}

.containerGlobalForm {
    background-color: #064663;
    padding-top: 80px;
    padding-bottom: 25px;
}

.containerInfoForm {
    background-color: #04293A;
    width: 60%;
    margin: auto;
    color: white;
    border: #041C32 solid;
}

.containerStatusForm {
    display: grid;
    text-align: left;
    margin-left: 125px;
}


.containerInputsForm {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.ulForm {
    list-style: none;
}

.btnXForm {
    background-color: red;
    font-size: 15px;
    width: 15px;
    height: 20px;
    color: white;
}

.btnXForm:hover {
    background-color: crimson;
    cursor: pointer;
}

.btnCreateForm {
    height: 30px;
    font-size: 20px;
    background-color: #041C32;
    color: white;
    border: white solid 1px;
}

.btnCreateForm:hover {
    cursor: pointer;
    opacity: 80%;
}

.contaierThreeDivs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}