* {
    margin: 0;
    padding: 0;
}

.containerGlobalLanding {
    display: flex;
    padding-bottom: 119px;
    background-image: url('./img/backLanding.jpg');
    background-size: cover;
}

.containerLanding {
    width: 50%;
    margin: auto;
    height: 400px;
    margin-top: 106px;
    margin-left: 360px;
}

.containerTitleBtnLanding {
    height: 95%;
    display: flex;
    flex-direction: column;
}

.titleLanding {
    font-size: 50px;
    color: #041C32;
    -webkit-text-stroke: 1px white;
}

.btnLanding {
    height: 60px;
    font-size: 30px;
    border: solid white;
    background-color: #041C32;
    color: white;
    margin-top: 50px;
    border-radius: 30%;
}

.btnLanding:hover {
    border: solid #041C32;
    background-color: white;
    color: #041C32;
    cursor: pointer;
    box-shadow: 0 0 10px white,0 0 40px white, 0 0 80px white;
}