.liPaged {
    list-style: none;
    display: inline-block;
    margin: 7px;
}

.btnPaged {
    width: 20px;
    height: 20px;
    font-size: 15px;
    background-color: #041C32;
    color: white;
    border: white solid 1px;
}

.btnPaged:hover {
    cursor: pointer;
    opacity: 80%;
}